{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="gr__demo_w3layouts_com">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Oyemoney</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="Oyemoney">
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="{% static 'css' %}/style.css" type="text/css" media="all"><!-- Style-CSS -->
    <link href="{% static 'css' %}font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>
<body>
